# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Opleiding\Documents\Java Opleiding\3 EindOpleiding\Jenkins\GoedeDoel Materiaal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
